.navbar {
  .navbar-brand {
    img {
      height: 50px;
    }
  }
  .login-form {
    display: flex;
  }

  .movie-sharing-navbar {
    display: flex;
    .welcome-message {
      margin: auto 0;
      color: white;
    }
  }
}