.movive-sharing-form {
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  label {
    text-align: right;
  }
}

.movie-listing {
  padding-top: 100px;
  &__left-panel {
    text-align: right;
  }
}