.movive-sharing-form {
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10%;
  label {
    text-align: right;
  }
}

.movie-listing {
  padding-top: 100px;
  &__left-panel {
    text-align: right;
  }
  &__right-panel {
    .movie-listing__title {
      color: red;
    }
    .movie-listing__voting {
      display: flex;
      .upvote {
        padding-right: 10px;
      }
    }
    .movie-listing__description {
      text-align: justify;
    }
  }
}